.container {
  background: var(--colorWhite);
  box-shadow: var(--boxShadow);
  border-radius: 0 0 1.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: var(--zIndexHeader);
  -webkit-tap-highlight-color: transparent;
}

.logotype {
  height: auto;
  pointer-events: none;
}

.buttonContainer {
  display: flex;
}

@media (min-width: 280px) {
  .container {
    height: 3em;
  }

  .logotype {
    width: 90px;
    padding: 0.2em;
  }
}

@media (min-width: 320px) {
  .logotype {
    width: 100px;
    padding: 0.4em;
  }
}

@media (min-width: 375px) {
  .container {
    height: 4em;
  }

  .logotypeContainer {
    margin-left: 0.6em;
  }

  .logotype {
    width: 120px;
  }
}

@media (min-width: 425px) {
  .container {
    border-radius: 0 0 2em 2em;
  }
}

@media (min-width: 768px) {
  .logotypeContainer {
    margin-left: 2em;
  }

  .logotype {
    padding: 0.5em;
    width: 140px;
  }
}

@media (min-width: 1024px) {
  .logotype {
    width: 150px;
  }
}