.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 var(--spacing-xl) var(--spacing-xl);
  z-index: var(--z-index-header);
  -webkit-tap-highlight-color: transparent;
}

.buttonNavigateContainer {
  display: flex;
  gap: var(--spacing-l);
  padding: 0 var(--spacing-l);
}

.icon {
  width: auto;
  height: var(--spacing-xl);
  cursor: pointer;
  padding: var(--spacing-l);
}

.link {
  font-size: 28px;
  color: var(--color-dark-main);
  border-radius: var(--spacing-m);
  padding: var(--spacing-xs) var(--spacing-s);
  transition: var(--transition-small);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .container {
    border-radius: 0 0 var(--spacing-m) var(--spacing-m);
  }

  .buttonNavigateContainer {
    padding: 0 var(--spacing-s);
  }

  .icon {
    padding: var(--spacing-s);
  }
}

@media (max-width: 375px) {
  .icon {
    width: var(--spacing-l);
  }
}

@media (hover: hover) {
  .link:hover {
    color: var(--color-white);
    background: var(--color-dark-main);
  }

  .link:active {
    background: var(--color-main);
    transition: var(--transition-null);
  }
}

@media (hover: none) {
  .link:active {
    color: var(--color-white);
    background: var(--color-main);
    transition: var(--transition-null);
  }
}
