.button {
  padding: var(--spacing-s);
  color: var(--color-dark-main);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: var(--spacing-xl);
  transition: var(--transition-standart);
  cursor: pointer;
}

@media (min-width: 280px) {
  .button {
    font-size: 14px;
  }
}

@media (min-width: 320px) {
  .button {
    font-size: 14px;
  }
}

@media (min-width: 425px) {
  .button {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-white);
    background: var(--color-main);
  }

  .button:active {
    color: var(--color-white);
    background: var(--color-dark-main);
    transition: var(--transition-null);
  }
}

@media (hover: none) {
  .button:active {
    color: var(--color-white);
    background: var(--color-dark-main);
    transition: var(--transition-null);
  }
}
