.title {
    margin-top: 7em;
    display: inline-block;
    white-space: pre-wrap;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@media (min-width: 280px) {
    .title {
        font-size: 14px;
    }
}

@media (min-width: 375px) {
    .title {
        font-size: 16px;
    }
}