.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: var(--spacing-xxxl);
  }
}
