.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  color: var(--color-dark-main);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-l);
}

.dot {
  border-radius: 100%;
  width: var(--spacing-s);
  height: var(--spacing-s);
  background: var(--color-dark-main);
}

@media (min-width: 280px) {
  .title {
    font-size: 20px;
  }
}

@media (min-width: 320px) {
  .title {
    font-size: 22px;
  }
}

@media (min-width: 375px) {
  .title {
    font-size: 24px;
  }
}

@media (min-width: 425px) {
  .title {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .container {
    gap: var(--spacing-xxl);
  }

  .title {
    font-size: 28px;
  }
}
