.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.input {
  color: var(--color-dark-main);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-m);
  border-radius: var(--spacing-m);
  border: none;
  outline: none;
  appearance: none;
  font-family: var(--font-family-main);
}

.input:disabled {
  opacity: 1;
}

.input::placeholder {
  color: var(--color-gray);
}

.isNotValid {
  border: 3px solid var(--color-main);
}

.alert {
  display: flex;
  gap: var(--spacing-xl);
  color: var(--color-gray);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-s);
  border-radius: var(--spacing-m);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.closeButton {
  display: flex;
  cursor: pointer;
  height: fit-content;
  padding: var(--spacing-xs);
}

.icon {
  width: 12px;
  height: fit-content;
}

.button {
  color: var(--color-white);
  background: var(--color-main);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-m);
  border-radius: var(--spacing-m);
  transition: var(--transition-small);
  font-family: var(--font-family-main);
  border: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
}

.waiting {
  background: var(--color-gray);
  cursor: wait;
}

.notAllowed {
  background: var(--color-gray);
  cursor: not-allowed;
}

.confidentiality {
  font-size: 14px;
  color: var(--color-dark-main);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media (min-width: 280px) {
  .input,
  .alert,
  .button {
    font-size: 14px;
  }

  .confidentiality {
    text-align: center;
  }
}

@media (min-width: 425px) {
  .input,
  .alert,
  .button {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .confidentiality {
    text-align: left;
  }
}

@media (hover: hover) {
  .button:hover {
    background: var(--color-dark-main);
  }

  .button:active {
    background: var(--color-main);
    transition: var(--transition-null);
  }
}

@media (hover: none) {
  .button:active {
    background: var(--color-dark-main);
    transition: var(--transition-null);
  }
}
