.container {
  color: var(--color-main);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media (min-width: 280px) {
  .container {
    font-size: 28px;
  }
}

@media (min-width: 320px) {
  .container {
    font-size: 30px;
  }
}

@media (min-width: 375px) {
  .container {
    font-size: 32px;
    width: 80%;
  }
}
