/* Глобальный шрифт */
@font-face {
  font-family: "Nunito-Bold";
  src: url("../public/assets/fonts/Nunito-Bold.ttf") format("truetype");
}

/* Стили */
:root {
  /* Глобальные цвета */
  --colorBackground: #FAFAFA;
  --colorWhite: #FFFFFF;
  --colorDarkWhite: #F1F1F1;
  --colorGray: #CECECE;
  --colorDarkGray: #7A7A7A;
  --colorBlue: #005AF5;
  --colorDarkBlue: #162A4C;
  --colorBlueSelect: #9bd0ffaf;

  /* Глобальные тени */
  --boxShadow: 0px 0px 10px #00000010;

  /* Глобальный порядок */
  --zIndexHeader: 1;
  --zIndexWindow: 2;
  --zIndexLoading: 10;
  --zIndexLoadingHide: -1;
}

/* Основа страницы */
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Настройка страницы */
body {
  background: var(--colorBackground);
  overflow: overlay;
  margin: 0;
  font-family: "Nunito-Bold";
}

br {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Выделение текста */
*::selection {
  background: var(--colorBlueSelect);
}

/* Размер скроллбара */
::-webkit-scrollbar {
  width: 0.7em;
}

/* Стиль скроллбара */
::-webkit-scrollbar-thumb {
  border-radius: 20px 0px 0px 20px;
  background: var(--colorGray);
}

/* Ссылка */
a {
  color: var(--colorBlue);
}

a:hover {
  text-decoration: none;
}

/* Список */
ul {
  padding-left: 1em;
}

/* Tab фокус */
:focus {
  outline: none;
}