.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.name {
  color: var(--color-dark-main);
}

.name,
.contact {
  -webkit-tap-highlight-color: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.content {
  display: flex;
  gap: var(--spacing-m);
}

@media (min-width: 280px) {
  .container {
    align-items: center;
  }

  .name,
  .contact {
    text-align: center;
    font-size: 18px;
  }
}

@media (min-width: 320px) {
  .name,
  .contact {
    font-size: 20px;
  }
}

@media (min-width: 375px) {
  .name,
  .contact {
    font-size: 22px;
  }
}

@media (min-width: 425px) {
  .name,
  .contact {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    align-items: flex-start;
  }

  .name,
  .contact {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .name,
  .contact {
    font-size: 28px;
  }
}
