.name {
    color: var(--colorDarkBlue);
    -webkit-tap-highlight-color: initial;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.contactsContainer {
    margin-top: 0.5em;
    -webkit-tap-highlight-color: initial;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@media (min-width: 280px) {
    .container {
        margin-top: 2em;
        text-align: center;
    }

    .contactsContainer {
        font-size: 18px;
    }

    .name {
        font-size: 18px;
    }

    .contactsSocialContainer {
        width: 100%;
        margin-top: 1em;
    }
}

@media (min-width: 320px) {
    .contactsContainer {
        font-size: 20px;
    }

    .name {
        font-size: 20px;
    }
}

@media (min-width: 375px) {
    .contactsContainer {
        font-size: 22px;
    }

    .name {
        font-size: 22px;
    }
}

@media (min-width: 425px) {
    .contactsContainer {
        font-size: 24px;
    }

    .name {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        margin-top: 0em;
        margin-left: 3em;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .contactsContainer {
        width: 14em;
    }

    .name {
        width: 14em;
    }

    .contactsSocialContainer {
        width: 21em;
        margin-top: 0em;
    }
}


@media (min-width: 1440px) {
    .contactsContainer {
        width: 13em;
        font-size: 28px;
    }

    .name {
        width: 13em;
        font-size: 28px;
    }
}