.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  align-items: center;
  text-align: center;
  color: var(--color-gray);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  -webkit-tap-highlight-color: transparent;
}

.link {
  width: fit-content;
}

@media (min-width: 280px) {
  .container {
    font-size: 12px;
  }
}

@media (min-width: 320px) {
  .container {
    font-size: 14px;
  }
}

@media (min-width: 425px) {
  .container {
    font-size: 16px;
  }
}

@media (min-width: 2560px) {
  .container {
    font-size: 18px;
  }
}
