.button {
  background: var(--colorBlue);
  color: var(--colorWhite);
  text-decoration: none;
  padding: var(--paddingStandart) var(--paddingBig);
  display: inline-block;
  border-radius: var(--borderRadiusStandart);
  transition: var(--transitionStandart);
}

@media (min-width: 280px) {
  .button {
    font-size: 16px;
  }
}

@media (min-width: 320px) {
  .button {
    font-size: 18px;
  }
}

@media (min-width: 425px) {
  .button {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .button {
    margin-top: 0em;
  }
}

@media (min-width: 2560px) {
  .button {
    font-size: 26px;
  }
}

@media (hover: hover) {
  .button:hover {
    background: var(--colorDarkBlue);
  }

  .button:active {
    background: var(--colorBlue);
    transition: var(--transitionNull);
  }
}

@media (hover: none) {
  .button:active {
    background: var(--colorDarkBlue);
    transition: var(--transitionNull);
  }
}
