.container {
  display: inline-block;
  margin: 0.5em;
}

.icon {
  display: block;
  background: var(--colorWhite);
  box-shadow: var(--boxShadow);
  width: auto;
  height: auto;
  padding: var(--paddingSmall);
  transition: var(--transitionSmall);
}

@media (min-width: 280px) {
  .icon {
    width: 40px;
    border-radius: var(--borderRadiusSmall);
  }
}

@media (min-width: 320px) {
  .icon {
    width: 50px;
    border-radius: var(--borderRadiusStandart);
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0;
    margin-top: 1em;
    margin-right: 1em;
  }
}

@media (hover: hover) {
  .icon:hover {
    scale: 1.1;
  }

  .icon:active {
    scale: 1.1;
  }
}

@media (hover: none) {
  .icon:active {
    scale: 1.1;
  }
}
