.container {
  display: flex;
  padding: var(--spacing-s);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--spacing-m);
  transition: var(--transition-small);
}

.icon {
  height: auto;
}

@media (min-width: 280px) {
  .icon {
    width: 35px;
  }
}

@media (min-width: 375px) {
  .icon {
    width: 40px;
  }
}

@media (hover: hover) {
  .container:hover {
    scale: 1.1;
  }

  .container:active {
    scale: 1.1;
  }
}

@media (hover: none) {
  .container:active {
    scale: 1.1;
  }
}
