.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  flex: 1 1 calc(50% - var(--spacing-s));
  box-sizing: border-box;
}

.imageContainer {
  overflow: hidden;
  display: flex;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  transition: var(--transition-standart);
}

.working {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-blur);
}

.workingTitle {
  width: 90%;
  font-size: 24px;
  text-align: center;
  color: var(--color-white);
}

.title {
  width: fit-content;
  -webkit-tap-highlight-color: transparent;
}

.description {
  color: var(--color-dark-main);
}

.title,
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media (min-width: 280px) {
  .container {
    padding: var(--spacing-s);
    border-radius: var(--spacing-m);
  }

  .imageContainer {
    border-radius: var(--spacing-s);
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }
}

@media (min-width: 375px) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: 18px;
  }
}

@media (min-width: 625px) {
  .container {
    border-radius: var(--spacing-l);
  }

  .imageContainer {
    border-radius: var(--spacing-m);
  }
}

@media (hover: hover) {
  .image:hover {
    scale: 1.1;
  }

  .image:active {
    scale: 1.1;
  }
}

@media (hover: none) {
  .image:active {
    scale: 1.1;
  }
}
