.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}

.container,
.containerOpen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--colorBackground);
  transition: 500ms;
  z-index: 10;
}

.container {
  right: -100%;
}

.containerOpen {
  right: 0;
}

.header {
  background: var(--colorWhite);
  box-shadow: var(--boxShadow);
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: var(--zIndexHeader);
  -webkit-tap-highlight-color: transparent;
}

.logotype {
  width: auto;
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
}

.icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  padding: 10px 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .logotype {
    height: 40px;
  }

  .icon {
    width: 20px;
  }
}

@media (max-width: 375px) {
  .logotype {
    height: 30px;
    padding: 10px 10px;
  }

  .icon {
    padding: 10px 10px;
  }
}
