html{
    scroll-behavior: smooth;
    -webkit-user-select: none;
   /* Safari */
    -moz-user-select: none;
   /* Firefox */
    -ms-user-select: none;
   /* IE10+/Edge */
    user-select: none;
   /* Standard */
}
body{
    background: #FAFAFA;
    overflow: overlay;
    margin:0;
}
br{
    -webkit-user-select: none;
   /* Safari */
    -moz-user-select: none;
   /* Firefox */
    -ms-user-select: none;
   /* IE10+/Edge */
    user-select: none;
   /* Standard */
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #CECECE;
}
.about{
    text-align: center;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.about span{
    color: #EA4C89;
}
@media (min-width:280px){
    .about{
        font-size: 28px;
   }
}
@media (min-width:425px){
    .about{
        font-size: 32px;
   }
}
@media (min-width:768px){
    .about{
        font-size: 38px;
   }
}
@media (min-width:1440px){
    .about{
        font-size: 48px;
   }
}
.shot_position{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
@media (min-width:280px){
    .shot_position{
        width: 98%;
   }
}
@media (min-width:1440px){
    .shot_position{
        width: 80em;
   }
}
.case_photo{
    text-align: center;
}
.case_settings{
    box-shadow: 0px 0px 10px #00000028;
    display: inline-block;
    margin: 10px;
    border-radius: 1em;
    transition: 0.7s;
}
@media (min-width:280px){
    .case_settings{
        width: 250px;
   }
}
@media (min-width:768px){
    .case_settings{
        width: 300px;
   }
}
@media (min-width:1440px){
    .case_settings{
        width: 400px;
   }
}
.case_settings:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px #00000042;
}