/* Глобальные шрифты */
@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}

/* Глобальные цвета */
:root {
  --globalColorWhite: #FFFFFF;
  --globalBackground: #FAFAFA;
  --globalColorDarkWhite: #F1F1F1;
  --globalColorDarkGray: #7A7A7A;
  --globalColorGray: #CECECE;
  --globalColorBlue: #005AF5;
  --globalColorDarkBlue: #162A4C;
  --globalBoxShadow: 0px 0px 10px #00000010;
}

/* Основа страницы */
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

body {
  background: var(--globalBackground);
  overflow: overlay;
  margin: 0;
  font-family: Nunito-Bold;
}

br {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

ul {
  padding-left: 1.2em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px 0px 0px 20px;
  background: var(--globalColorGray);
}

a {
  color: var(--globalColorBlue);
}

a:hover {
  text-decoration: none;
}