/* Глобальный шрифт */
@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}

/* Глобальные цвета */
:root {
  --Background: #FAFAFA;
  --ColorGray: #CECECE;
  --ColorBlue: #005AF5;
}

/* Основа страницы */
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/* Настройка страницы */
body {
  background: var(--Background);
  overflow: overlay;
  margin: 0;
  font-family: Nunito-Bold;
}

/* Размер скроллбара */
::-webkit-scrollbar {
  width: 0.7em;
}

/* Стиль скроллбара */
::-webkit-scrollbar-thumb {
  border-radius: 20px 0px 0px 20px;
  background: var(--ColorGray);
}

/* Ссылка */
a {
  color: var(--ColorBlue);
}

a:hover {
  text-decoration: none;
}