/* Глобальный шрифт */
@font-face {
  font-family: "Nunito-Bold";
  src: url("../public/assets/font/Nunito-Bold.ttf") format("truetype");
}

/* Стили */
:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-dark-white: #fafafa;
  --color-gray: #b2b2b2;
  --color-main: #005af5;
  --color-dark-main: #162a4c;
  --color-main-select: #9bd0ffaf;
  --color-blur: rgba(0, 0, 0, 0.8);

  /* Тени */
  --box-shadow: 0px 0px 10px #00000010;

  /* Размеры */
  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 25px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 100px;

  /* Временные значения */
  --transition-null: 0ms;
  --transition-small: 300ms;
  --transition-standart: 500ms;

  /* Порядок */
  --z-index-header: 1;
  --z-index-window: 2;
  --z-index-loading: 10;
  --z-index-loading-hide: -1;

  /* Шрифт */
  --font-family-main: "Nunito-Bold";
}

/* Основа страницы */
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Настройка страницы */
body {
  background: var(--color-dark-white);
  overflow: overlay;
  font-family: var(--font-family-main);
}

br {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Выделение текста */
*::selection {
  background: var(--color-main-select);
}

/* Стилизация скролбара */
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--spacing-xl) 0px 0px var(--spacing-xl);
    background: var(--color-gray);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-main);
  }
}

/* Ссылка */
a {
  color: var(--color-main);
}

a:hover {
  text-decoration: none;
}

/* Tab фокус */
:focus {
  outline: none;
}
