/* Контактные данные */
@media (min-width:280px) {
    .contacts {
        margin-top: 2em;
        text-align: center;
    }
}

@media (min-width:768px) {
    .contacts {
        margin-top: 0em;
        margin-left: 3em;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

/* Имя */
.name {
    color: var(--globalColorDarkBlue);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
    /* Safari */
    -moz-user-select: text;
    /* Firefox */
    -ms-user-select: text;
    /* IE10+/Edge */
    user-select: text;
    /* Standard */
    -webkit-tap-highlight-color: initial;
}

@media (min-width:280px) {
    .name {
        font-size: 18px;
    }
}

@media (min-width:320px) {
    .name {
        font-size: 20px;
    }
}

@media (min-width:375px) {
    .name {
        font-size: 22px;
    }
}

@media (min-width:425px) {
    .name {
        font-size: 24px;
    }
}

@media (min-width:768px) {
    .name {
        width: 14em;
    }
}

@media (min-width:1440px) {
    .name {
        width: 13em;
        font-size: 28px;
    }
}

/* Контактные ссылки */
.linkContacts {
    color: var(--globalColorBlue);
    margin-top: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
    /* Safari */
    -moz-user-select: text;
    /* Firefox */
    -ms-user-select: text;
    /* IE10+/Edge */
    user-select: text;
    /* Standard */
    -webkit-tap-highlight-color: initial;
}

@media (min-width:280px) {
    .linkContacts {
        font-size: 18px;
    }
}

@media (min-width:320px) {
    .linkContacts {
        font-size: 20px;
    }
}

@media (min-width:375px) {
    .linkContacts {
        font-size: 22px;
    }
}

@media (min-width:425px) {
    .linkContacts {
        font-size: 24px;
    }
}

@media (min-width:768px) {
    .linkContacts {
        width: 14em;
    }
}

@media (min-width:1440px) {
    .linkContacts {
        width: 13em;
        font-size: 28px;
    }
}

/* Социальные сети */
@media (min-width:280px) {
    .icoLinkPosition {
        width: 100%;
        margin-top: 1em;
        -webkit-tap-highlight-color: transparent;
    }
}

@media (min-width:768px) {
    .icoLinkPosition {
        width: 21em;
        margin-top: 0em;
    }
}

.icoPosition {
    display: inline-block;
    margin: 0.5em;
}

@media (min-width:768px) {
    .icoPosition {
        margin: 0;
        margin-top: 1em;
        margin-right: 1em;
    }
}

.ico {
    padding: 0.5em;
    transition: 0.2s;
    box-shadow: var(--globalBoxShadow);
    background-color: var(--globalColorWhite);
}

@media (min-width:280px) {
    .ico {
        width: 40px;
        border-radius: 0.8em;
    }
}

@media (min-width:320px) {
    .ico {
        width: 50px;
        border-radius: 1em;
    }
}

.ico:hover {
    scale: 1.1;
}