/* Форма адаптив контактной формы */
@media (min-width:425px) {
    .formPosition {
        text-align: center;
    }
}

@media (min-width:768px) {
    .formPosition {
        text-align: left;
    }
}

/* Форма обратной связи */
@media (min-width:280px) {
    .backgroundForm {
        width: 100%;
    }
}

@media (min-width:425px) {
    .backgroundForm {
        width: 90%;
        display: inline-block;
    }
}

@media (min-width:768px) {
    .backgroundForm {
        width: 45%;
    }
}

/* Заполнитель полей ввода */
::placeholder {
    color: var(--globalColorGray);
    font-family: Nunito-Bold;
}

/* Форма ввода имени */
.inputFormName,
.inputFormEmail,
.inputFormPhone {
    /* Safari shadow */
    background-clip: padding-box;
    color: var(--globalColorDarkBlue);
    background-color: var(--globalColorWhite);
    box-shadow: var(--globalBoxShadow);
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 1em;
    font-family: Nunito-Bold;
}

@media (min-width:280px) {

    .inputFormName,
    .inputFormEmail,
    .inputFormPhone {
        font-size: 16px;
        padding: 1em;
        width: 100%;
    }
}

/* Показ уведомления */
.isNotAlert {
    background-color: var(--globalColorDarkWhite);
    color: var(--globalColorDarkGray);
    padding: 10px 10px 10px 20px;
    margin-bottom: 1em;
    display: none;
    border-radius: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: text;
    /* Safari */
    -moz-user-select: text;
    /* Firefox */
    -ms-user-select: text;
    /* IE10+/Edge */
    user-select: text;
    /* Standard */
    animation: alert 0.7s ease forwards;
}

@media (min-width:280px) {
    .isNotAlert {
        width: 100%;
        font-size: 14px;
    }
}

@media (min-width:375px) {
    .isNotAlert {
        font-size: 16px;
        text-align: left;
    }
}

/* Скрытие уведомления */
.isNotAlert.visible {
    display: block;
}

@media (min-width:280px) {
    .isNotValid {
        border: 3px solid var(--globalColorBlue);
    }
}

@keyframes alert {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Кнопка закрытия уведомления */
.closebtn {
    color: var(--globalColorDarkGray);
    margin-left: 0px;
    font-size: 24px;
    font-weight: bold;
    float: right;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

@media (min-width:2560px) {
    .closebtn {
        font-size: 34px;
    }
}

.closebtn:hover {
    color: var(--globalColorBlue);
}

/* Кнопка отправки данных */
.button {
    background-color: var(--globalColorBlue);
    color: var(--globalColorWhite);
    box-shadow: var(--globalBoxShadow);
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 1em;
    font-family: Nunito-Bold;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width:280px) {
    .button {
        font-size: 16px;
        padding: 1em;
        width: 100%;
    }
}

.button:hover {
    background-color: var(--globalColorBlueSelect);
}

.button:active {
    background-color: var(--globalColorDarkBlue);
    transition: 0s;
}

.button.waiting {
    background-color: var(--globalColorDarkGray);
    cursor: wait;
}

.button.not_allowed {
    background-color: var(--globalColorDarkGray);
    cursor: not-allowed;
}

/* Текст документации */
.confidentiality {
    color: var(--globalColorDarkBlue);
    margin-top: 1em;
    width: 100%;
    font-size: 14px;
    -webkit-user-select: text;
    /* Safari */
    -moz-user-select: text;
    /* Firefox */
    -ms-user-select: text;
    /* IE10+/Edge */
    user-select: text;
    /* Standard */
    -webkit-tap-highlight-color: initial;
}

@media (min-width:280px) {
    .confidentiality {
        text-align: center;
    }
}

@media (min-width:768px) {
    .confidentiality {
        text-align: left;
    }
}